doctype html
head
  meta(charset='utf-8')
  title website
form(action='/submit-up' method='post')
  input(type='submit' value='up')
br
form(action='/submit-down' method='post')
  input(type='submit' value='down')
br
form(action='/submit-left' method='post')
  input(type='submit' value='left')
br
form(action='/submit-right' method='post')
  input(type='submit' value='right')
br
form(action='/submit-stop' method='post')
  input(type='submit' value='stop')
